@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/*:root {*/
/*  --background: oklch(1 0 0);*/
/*  --foreground: oklch(0.13 0.028 261.692);*/
/*  --card: oklch(1 0 0);*/
/*  --card-foreground: oklch(0.13 0.028 261.692);*/
/*  --popover: oklch(1 0 0);*/
/*  --popover-foreground: oklch(0.13 0.028 261.692);*/
/*  --primary: oklch(0.541 0.281 293.009);*/
/*  --primary-foreground: oklch(0.985 0.002 247.839);*/
/*  --secondary: oklch(0.967 0.003 264.542);*/
/*  --secondary-foreground: oklch(0.21 0.034 264.665);*/
/*  --muted: oklch(0.967 0.003 264.542);*/
/*  --muted-foreground: oklch(0.551 0.027 264.364);*/
/*  --accent: oklch(0.967 0.003 264.542);*/
/*  --accent-foreground: oklch(0.21 0.034 264.665);*/
/*  --destructive: oklch(0.577 0.245 27.325);*/
/*  --destructive-foreground: oklch(0.577 0.245 27.325);*/
/*  --border: oklch(0.928 0.006 264.531);*/
/*  --input: oklch(0.928 0.006 264.531);*/
/*  --ring: oklch(0.707 0.022 261.325);*/
/*  --chart-1: oklch(0.646 0.222 41.116);*/
/*  --chart-2: oklch(0.6 0.118 184.704);*/
/*  --chart-3: oklch(0.398 0.07 227.392);*/
/*  --chart-4: oklch(0.828 0.189 84.429);*/
/*  --chart-5: oklch(0.769 0.188 70.08);*/
/*  --radius: 0.3rem;*/
/*  --sidebar: oklch(0.985 0.002 247.839);*/
/*  --sidebar-foreground: oklch(0.13 0.028 261.692);*/
/*  --sidebar-primary: oklch(0.21 0.034 264.665);*/
/*  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);*/
/*  --sidebar-accent: oklch(0.967 0.003 264.542);*/
/*  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);*/
/*  --sidebar-border: oklch(0.928 0.006 264.531);*/
/*  --sidebar-ring: oklch(0.707 0.022 261.325);*/
/*}*/

/*.dark {*/
/*  --background: oklch(0.13 0.028 261.692);*/
/*  --foreground: oklch(0.985 0.002 247.839);*/
/*  --card: oklch(0.13 0.028 261.692);*/
/*  --card-foreground: oklch(0.985 0.002 247.839);*/
/*  --popover: oklch(0.13 0.028 261.692);*/
/*  --popover-foreground: oklch(0.985 0.002 247.839);*/
/*  --primary: oklch(0.541 0.281 293.009);*/
/*  --primary-foreground: oklch(0.985 0.002 247.839);*/
/*  --secondary: oklch(0.278 0.033 256.848);*/
/*  --secondary-foreground: oklch(0.985 0.002 247.839);*/
/*  --muted: oklch(0.278 0.033 256.848);*/
/*  --muted-foreground: oklch(0.707 0.022 261.325);*/
/*  --accent: oklch(0.278 0.033 256.848);*/
/*  --accent-foreground: oklch(0.985 0.002 247.839);*/
/*  --destructive: oklch(0.396 0.141 25.723);*/
/*  --destructive-foreground: oklch(0.637 0.237 25.331);*/
/*  --border: oklch(0.278 0.033 256.848);*/
/*  --input: oklch(0.278 0.033 256.848);*/
/*  --ring: oklch(0.446 0.03 256.802);*/
/*  --chart-1: oklch(0.488 0.243 264.376);*/
/*  --chart-2: oklch(0.696 0.17 162.48);*/
/*  --chart-3: oklch(0.769 0.188 70.08);*/
/*  --chart-4: oklch(0.627 0.265 303.9);*/
/*  --chart-5: oklch(0.645 0.246 16.439);*/
/*  --sidebar: oklch(0.21 0.034 264.665);*/
/*  --sidebar-foreground: oklch(0.985 0.002 247.839);*/
/*  --sidebar-primary: oklch(0.488 0.243 264.376);*/
/*  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);*/
/*  --sidebar-accent: oklch(0.278 0.033 256.848);*/
/*  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);*/
/*  --sidebar-border: oklch(0.278 0.033 256.848);*/
/*  --sidebar-ring: oklch(0.446 0.03 256.802);*/
/*}*/


@layer base {
    /*:root {*/
    /*    --background: oklch(0.985 0 0);*/
    /*    --foreground: oklch(0.141 0.005 285.823);*/
    /*    --card: oklch(0.985 0 0);*/
    /*    --card-foreground: oklch(0.141 0.005 285.823);*/
    /*    --popover: oklch(0.985 0 0);*/
    /*    --popover-foreground: oklch(0.141 0.005 285.823);*/
    /*    --primary: oklch(0.541 0.281 293.009);*/
    /*    --primary-foreground: oklch(0.985 0 0);*/
    /*    --secondary: oklch(0.92 0.004 286.32);*/
    /*    --secondary-foreground: oklch(0.141 0.005 285.823);*/
    /*    --muted: oklch(0.92 0.004 286.32);*/
    /*    --muted-foreground: oklch(0.551 0.027 264.364);*/
    /*    --accent: oklch(0.92 0.004 286.32);*/
    /*    --accent-foreground: oklch(0.141 0.005 285.823);*/
    /*    --destructive: oklch(0.586 0.253 17.585);*/
    /*    --destructive-foreground: oklch(0.985 0 0);*/
    /*    --border: oklch(0.92 0.004 286.32);*/
    /*    --input: oklch(0.92 0.004 286.32);*/
    /*    --ring: oklch(0.705 0.015 286.067);*/
    /*    --radius: 0.3rem;*/
    /*    --chart-1: oklch(0.646 0.222 41.116);*/
    /*    --chart-2: oklch(0.6 0.118 184.704);*/
    /*    --chart-3: oklch(0.398 0.07 227.392);*/
    /*    --chart-4: oklch(0.828 0.189 84.429);*/
    /*    --chart-5: oklch(0.769 0.188 70.08);*/
    /*    !*  --sidebar: oklch(0.985 0.002 247.839);*!*/
    /*    !*  --sidebar-foreground: oklch(0.13 0.028 261.692);*!*/
    /*    !*  --sidebar-primary: oklch(0.21 0.034 264.665);*!*/
    /*    !*  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);*!*/
    /*    !*  --sidebar-accent: oklch(0.967 0.003 264.542);*!*/
    /*    !*  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);*!*/
    /*    !*  --sidebar-border: oklch(0.928 0.006 264.531);*!*/
    /*    !*  --sidebar-ring: oklch(0.707 0.022 261.325);*!*/
    /*}*/
    /*.dark {*/
    /*    --background: oklch(0.141 0.005 285.823);*/
    /*    --foreground: oklch(0.985 0 0);*/
    /*    --card: oklch(0.141 0.005 285.823);*/
    /*    --card-foreground: oklch(0.985 0 0);*/
    /*    --popover: oklch(0.141 0.005 285.823);*/
    /*    --popover-foreground: oklch(0.985 0 0);*/
    /*    --primary: oklch(0.541 0.281 293.009);*/
    /*    --primary-foreground:  oklch(0.985 0 0);*/
    /*    --secondary: oklch(0.21 0.006 285.885);*/
    /*    --secondary-foreground: oklch(0.985 0 0);*/
    /*    --muted: oklch(0.274 0.006 286.033);*/
    /*    --muted-foreground: oklch(0.65 0.02 264.0);*/
    /*    --accent: oklch(0.274 0.006 286.033);*/
    /*    --accent-foreground: oklch(0.985 0 0);*/
    /*    --destructive: oklch(0.45 0.12 27.0);*/
    /*    --destructive-foreground: oklch(0.985 0 0);*/
    /*    --border: oklch(0.274 0.006 286.033);*/
    /*    --input: oklch(0.274 0.006 286.033);*/
    /*    --ring: oklch(0.75 0.02 264.0);*/
    /*    --chart-1: oklch(0.65 0.18 264.0);*/
    /*    --chart-2: oklch(0.55 0.12 164.0);*/
    /*    --chart-3: oklch(0.65 0.18 44.0);*/
    /*    --chart-4: oklch(0.65 0.18 304.0);*/
    /*    --chart-5: oklch(0.65 0.18 16.0);*/
    /*    !*--sidebar: oklch(0.21 0.034 264.665);*!*/
    /*    !*--sidebar-foreground: oklch(0.985 0.002 247.839);*!*/
    /*    !*--sidebar-primary: oklch(0.488 0.243 264.376);*!*/
    /*    !*--sidebar-primary-foreground: oklch(0.985 0.002 247.839);*!*/
    /*    !*--sidebar-accent: oklch(0.278 0.033 256.848);*!*/
    /*    !*--sidebar-accent-foreground: oklch(0.985 0.002 247.839);*!*/
    /*    !*--sidebar-border: oklch(0.278 0.033 256.848);*!*/
    /*    !*--sidebar-ring: oklch(0.446 0.03 256.802);*!*/
    /*}*/
    @layer base {
        :root {
            --background: oklch(0.985 0 0);
            --foreground: oklch(0.141 0.005 285.823);
            --card: oklch(0.967 0.001 286.375);
            --card-foreground: oklch(0.141 0.005 285.823);
            --popover: oklch(0.967 0.001 286.375);
            --popover-foreground: oklch(0.141 0.005 285.823);
            --primary: oklch(0.606 0.25 292.717);
            --primary-foreground: oklch(0.985 0 0);
            --secondary: oklch(0.92 0.004 286.32);
            --secondary-foreground: oklch(0.141 0.005 285.823);
            --muted: oklch(0.871 0.006 286.286);
            --muted-foreground:oklch(0.274 0.006 286.033);
            --accent: oklch(0.92 0.004 286.32);
            --accent-foreground: oklch(0.141 0.005 285.823);
            --destructive: oklch(0.586 0.253 17.585);
            --destructive-foreground: oklch(0.985 0 0);
            --border: oklch(0.871 0.006 286.286);
            --input: oklch(0.92 0.004 286.32);
            --ring: oklch(0.491 0.27 292.581);
            --radius: 0.3rem;
            --chart-1: oklch(67.72% 0.1571 35.19);
            --chart-2: oklch(63.09% 0.1013 183.49);
            --chart-3: oklch(37.87% 0.044 225.54);
            --chart-4: oklch(83.36% 0.1186 88.15);
            --chart-5: oklch(78.34% 0.1261 58.75);
        }

        .dark {
            --background: oklch(0.141 0.005 285.823);
            --foreground: oklch(0.985 0 0);
            --card: oklch(0.21 0.006 285.885);
            --card-foreground: oklch(0.985 0 0);
            --popover:oklch(0.21 0.006 285.885);
            --popover-foreground: oklch(0.985 0 0);
            --primary: oklch(0.606 0.25 292.717);
            --primary-foreground: oklch(0.985 0 0);
            --secondary: oklch(0.274 0.006 286.033);
            --secondary-foreground: oklch(0.985 0 0);
            --muted: oklch(0.37 0.013 285.805);
            --muted-foreground: oklch(0.871 0.006 286.286);
            --accent: oklch(0.274 0.006 286.033);
            --accent-foreground: oklch(0.985 0 0);
            --destructive: oklch(0.586 0.253 17.585);
            --destructive-foreground: oklch(0.985 0 0);
            --border: oklch(0.274 0.006 286.033);
            --input: oklch(0.274 0.006 286.033);
            --ring: oklch(0.432 0.232 292.759);
            --chart-1: oklch(52.92% 0.1931 262.13);
            --chart-2: oklch(69.83% 0.1337 165.46);
            --chart-3: oklch(72.32% 0.15 60.63);
            --chart-4: oklch(61.92% 0.2037 312.73);
            --chart-5: oklch(61.23% 0.2093 6.39);
        }
    }

}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    /*--color-sidebar: var(--sidebar);*/
    /*--color-sidebar-foreground: var(--sidebar-foreground);*/
    /*--color-sidebar-primary: var(--sidebar-primary);*/
    /*--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);*/
    /*--color-sidebar-accent: var(--sidebar-accent);*/
    /*--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);*/
    /*--color-sidebar-border: var(--sidebar-border);*/
    /*--color-sidebar-ring: var(--sidebar-ring);*/
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    .center-container {
        height: calc(100% - 40px - 30px);
    }
}
